<div class="footer row footer-style">
  <div class="copy_right">
    <ul>
      <li class="selected">
        <%= link_to t(".home"), root_path %>
      </li>
      <li>
        <%= link_to t(".new"), football_news_index_path %>
      </li>
      <li>
        <%= link_to t(".team"), teams_path %>
      </li>
      <li>
        <%= link_to t(".rank"), rankings_path %>
      </li>
    </ul>
    <p><%= t ".copyright" %></p>
  </div>
</div>
