<div class="footer">
  <div>
    <ul>
      <li class="selected">
        <a href="#"><%= t ".home" %></a>|
      </li>
      <li>
        <a href="#"><%= t ".team" %></a>|
      </li>
      <li>
        <a href="#"><%= t ".league" %></a>|
      </li>
      <li>
        <a href="#"><%= t ".rank" %></a>|
      </li>
    </ul>
    <p>
      <%= raw t ".copyright" %>
    </p>
  </div>
</div>
