<% provide :title, t(".login") %>
<div class="header row menu-navigation">
  <div class="col-md-2">
    <a href="<%= root_path %>" id="logo" target="_parent">
      <%= image_tag("home/logo.png", :alt => t(".alt")) %>
    </a>
  </div>
  <div class="col-md-10">
    <ul class="main-menu">
      <li><%= link_to t(".home"), root_path, target: "_parent" %></li>
      <li><%= link_to t(".new"), football_news_index_path %></li>
      <li><%= link_to t(".team"), teams_path %></li>
      <li><%= link_to t(".rank_league"), rankings_path %></li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t ".account" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu top-menu-home">
            <li><%= link_to t(".profile"), profile_path(current_user) %></li>
            <li><%= link_to t(".setting"), edit_profile_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t(".login"), new_user_session_path %></li>
        <li><%= link_to t(".signup"), new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
