<% provide :title, t(".login") %>
<div class="header row">
  <div class="col-md-2">
    <a href="index.html" id="logo">
      <%= image_tag("home/logo.png", :alt => t(".alt")) %>
    </a>
  </div>
  <div class="col-md-10">
    <ul>
      <li><%= link_to t(".home"), "#" %></li>
      <li><%= link_to t(".new"), "#" %></li>
      <li><%= link_to t(".team"), "#" %></li>
      <li><%= link_to t(".rank"), "#" %></li>
      <li><%= link_to t(".league"), "#" %></li>
      <li><%= link_to t(".login"), "#" %></li>
      <li><%= link_to t(".signup"), signup_path %></li>
    </ul>
  </div>
</div>
