<div class="header">
  <a href="index.html" id="logo">
    <%= t ".logo" %>
  </a>
  <ul>
    <li>
      <a href="#"><%= t ".home" %></a>
    </li>
    <li>
      <a href="#"><%= t ".team" %></a>
    </li>
    <li>
      <a href="#"><%= t ".league" %></a>
    </li>
    <li>
      <a href="#"><%= t ".rank" %></a>
    </li>
    <li>
      <a href="#"><%= t ".login" %></a>
    </li>
  </ul>
</div>
