<li>
  <span class="team_name left"><%= team.name %></span>
  <div class="right">
    <a class="team_info" title="<%= t ".edit" %>" href="<%= edit_admin_team_path(team) %>">
      <i class="fa fa-info"></i>
    </a>
    <a class="team_remove" title="<%= t ".remove" %>" href="<%= admin_league_team_path(@league, team) %>" data-method="delete" data-confirm="<%= t ".are_you_sure" %>">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="clear_both"></div>
</li>
