<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= t ".title" %></h4>
      </div>
      <div class="card-body">
        <%= render partial: "form", locals: {url: admin_league_path(@league)} %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= t ".team" %>
          <a class="btn btn-primary btn-xs right team_modal">
            <%= t ".add_new_team" %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <ul class="team">
          <%= render partial: "team", collection: @teams %>
        </ul>
        <%= paginate @teams, :param_name => "team_page" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= t ".round" %>
          <a class="btn btn-primary btn-xs right round_modal">
            <%= t ".add_new_round" %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <ul class="team round">
          <%= render partial: "round", collection: @rounds %>
        </ul>
        <%= paginate @rounds, :param_name => "round_page" %>
      </div>
    </div>
  </div>
</div>
<%= render "new_team" %>
<%= render "new_round"%>
