<%= form_for @match, url: url do |f| %>
  <%= render "shared/admin/error_messages", object: f.object %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label t ".date_of_match", class: "control-label" %>
      <%= f.datetime_field :date_of_match, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t ".time", class: "control-label" %>
      <%= f.number_field :time, class: "form-control", min: Settings.number_min %>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label t ".extra_time1", class: "control-label" %>
      <%= f.number_field :extra_time1, class: "form-control", min: Settings.number_min %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t ".extra_time2", class: "control-label" %>
      <%= f.number_field :extra_time2, class: "form-control", min: Settings.number_min %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label t ".league", class: "control-label" %>
      <%= select_tag "league_id", options(Match.load_leagues), {class: "form-control", prompt: t(".blank_option")} %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label t ".round", class: "control-label" %>
      <%= f.select(:round_id, @match.load_rounds, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label t ".team1", class: "control-label" %>
      <%= f.select(:team1_id, @match.load_teams, {prompt: t(".select_team1")}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label t ".team2", class: "control-label" %>
      <%= f.select(:team2_id, @match.load_teams, {prompt: t(".select_team2")}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label t ".status", class: "control-label" %>
      <%= f.select(:status, Match.select_status, {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group submit_button">
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
