<tr>
  <td><%= l match.date_of_match, format: :with_time %></td>
  <td><%= match.time %></td>
  <td><%= match.team1_name %></td>
  <td><%= match.team2_name %></td>
  <td><%= match.round_name %></td>
  <td><%= match.round.league_name %></td>
  <td><%= match.status %></td>
  <td class="td-actions text-right">
    <%= link_to edit_admin_match_path(match), class: "btn btn-success btn-link btn-xs", title: t(".edit") do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to admin_match_path(match), class: "btn btn-danger btn-link btn-xs", title: t(".remove"),
      method: :delete, data: {confirm: t(".are_you_sure")} do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
