<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= t ".title" %></h4>
      </div>
      <div class="card-body">
        <%= render partial: "form", locals: {url: admin_match_path(@match)} %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= t ".match_infos" %>
          <a class="btn btn-primary btn-xs right match_info_modal">
            <%= t ".add_new_match_info" %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped">
          <thead>
            <th><%= t ".minutes" %></th>
            <th><%= t ".message" %></th>
            <th><%= t ".type" %></th>
            <th><%= t ".team" %></th>
            <th><%= t ".player" %></th>
            <th><%= t ".time" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody>
            <%= render @match_infos %>
          </tbody>
        </table>
        <%= paginate @match_infos, param_name: "match_page" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= t ".score_sugests" %>
          <a class="btn btn-primary btn-xs right modal_new_score_sugest">
            <%= t ".add_new_score_sugest" %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped table_sugest">
          <thead>
            <th><%= t ".score_win" %></th>
            <th><%= t ".score_lost" %></th>
            <th><%= t ".ratio" %></th>
            <th><%= t ".time" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody>
            <%= render @score_sugests %>
          </tbody>
        </table>
        <%= paginate @score_sugests, param_name: "sugest" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= t ".match_result" %>
          <a class="btn btn-primary btn-xs right modal_new_match_result">
            <%= t ".add_new_match_result" %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped table_match_result">
          <thead>
            <th><%= t ".team" %></th>
            <th><%= t ".score" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody>
            <%= render @match_results %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "new_match_info" %>
<%= render "new_score_sugest" %>
<%= render "new_match_result" %>
