<% provide :title, t(".header") %>
<header class="heading"><%= t ".header" %></header><hr></hr>
<div class="row ">
  <%= form_for @user, url: signup_path do |f| %>
  <%= render "shared/error_messages" %>
  <div class="col-sm-12">
      <div class="row">
        <div class="col-xs-4">
          <%= f.label t(".fullname"), class: "firstname" %>
        </div>
         <div class="col-xs-8">
          <%= f.text_field :fullname, class: "form-control", placeholder: t(".place_fullname") %>
         </div>
      </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-4">
        <%= f.label t(".email"), class: "mail" %>
      </div>
      <div class="col-xs-8">
        <%= f.text_field :email, class: "form-control", id: "email", placeholder: t(".place_email") %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
        <div class="col-xs-4">
          <%= f.label t(".password"), class: "pass" %>
        </div>
      <div class="col-xs-8">
        <%= f.password_field  :password, class: "form-control", id: "password",placeholder: t(".place_pass") %>
     </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
        <div class="col-xs-4">
          <%= f.label t(".confirm_pass"), class: "pass" %>
        </div>
      <div class="col-xs-8">
        <%= f.password_field :password_confirmation, class: "form-control", id: "password", placeholder: t(".place_confirm_pass") %>
     </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class ="row">
      <div class="col-xs-4 ">
      <%= f.label t(".gender"), class: "gender" %>
      </div>
      <div class="col-xs-4 male">
        <%= f.radio_button :gender, "male" %>
        <%= label_tag(:gender_male, t(".male")) %>
      </div>
      <div class="col-xs-4 female">
        <%= f.radio_button :gender, "female" %>
        <%= label_tag(:gender_female, t(".female")) %>
      </div>
    </div>
  </div>

  <div class="col-sm-12" id="padd-botom">
    <%= f.submit t(".submit"), class: "btn btn-warning" %>
  </div>
  <% end %>
</div>
