<%= render "shared/home/slider" %>
<div class="col-md-12 schedule">
  <div class="row">
    <h5 class="col-md-8 schedule_day"><%= t ".schedule" %></h5>
    <h5 class="col-md-4 date_day"><%= t ".date" %></h5>
  </div>
  <table border="1px">
    <tr class="table_menu">
      <th rowspan="2"><%= t ".date_time" %></th>
      <th rowspan="2"><%= t ".match" %></th>
      <th colspan="2"><%= t ".scored" %></th>
      <th rowspan="2"><%= t ".ratio" %></th>
      <th rowspan="2"><%= t ".bet" %></th>
    </tr>
    <tr class="table_menu">
      <th><%= t ".1st" %></th>
      <th><%= t ".2st" %></th>
    </tr>
  </table>
</div>
