<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ">
        <h4 class="card-title">
          <%= t ".football_news" %>
          <%= link_to t(".add_new"), new_admin_football_news_path, class: "btn btn-primary btn-xs right" %>
        </h4>
      </div>
      <div class="card-body ">
        <table class="table table-hover table-striped">
          <thead>
            <th>#</th>
            <th><%= t ".image" %></th>
            <th><%= t ".subject" %></th>
            <th><%= t ".time" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody>
            <%= render @football_news %>
          </tbody>
        </table>
        <%= paginate @football_news %>
      </div>
    </div>
  </div>
</div>
