<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header ">
        <h4 class="card-title">
          <%= t ".title" %>
          <%= link_to t(".new_player"), new_admin_player_info_path, class: "btn btn-primary btn-xs right" %>
        </h4>
      </div>
      <div class="card-body ">
        <table class="table table-hover table-striped">
          <thead>
            <th><%= t ".name" %></th>
            <th><%= t ".date_of_birth" %></th>
            <th><%= t ".gender" %></th>
            <th><%= t ".weight" %></th>
            <th><%= t ".height" %></th>
            <th><%= t ".position" %></th>
            <th><%= t ".number" %></th>
            <th><%= t ".team" %></th>
            <th><%= t ".time" %></th>
            <th><%= t ".action" %></th>
          </thead>
          <tbody>
            <%= render @players %>
          </tbody>
        </table>
        <%= paginate @players %>
      </div>
    </div>
  </div>
</div>
