<tr>
  <td>
    <%= raw format_match_ready match %>
  </td>
  <td class="date_day"><%= format_time match.date_of_match %></td>
  <td><%= match.team1_name %></td>
  <td class="scored"><%= format_score match.get_score_team1 %></td>
  <td class="scored"><%= format_score match.get_score_team2 %></td>
  <td><%= match.team2_name %></td>
  <td>
    <button id="myBets" class="dropbtn" data-id="<%= match.id %>"><%= t ".bet" %></button>
    <div id="myDropdown-<%= match.id %>" class="dropdown-content left_impo">
      <table border="1px" class="list_bet">
        <tr class="table_menu">
          <th><%= t ".score" %></th>
          <th><%= t ".ratio" %></th>
          <th><%= t ".bet_amount" %></th>
          <th><%= t ".bet" %></th>
        </tr>
        <%= render match.score_sugests.limit(Settings.limit) %>
      </table>
    </div>
  </td>
  <td>
    <button id="info" class="dropbtn" data-id="<%= match.id %>"><%= t ".info" %></button>
    <div id="match_info-<%= match.id %>" class="dropdown-content left_impo match_info">
      <table border="1px" class="list_bet">
        <tr class="table_menu">
          <th><%= t ".minute" %></th>
          <th><%= t ".info" %></th>
        </tr>
        <%= render match.match_infos.limit(Settings.limit) %>
      </table>
    </div>
  </td>
</tr>
