<%= form_for @user, url: url do |f| %>
  <%= render "shared/admin/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label t ".email", class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t ".fullname", class: "control-label" %>
    <%= f.text_field :fullname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t ".password", class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t ".money", class: "control-label" %>
    <div class="input-group">
      <%= f.number_field :money, class: "form-control", min: Settings.user.min_length %>
      <span class="input-group-addon"><%= t ".money_unit" %></span>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group">
      <%= f.label t ".role", class: "control-label" %>
      <%= f.select(:role, User.load_roles, {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group submit_button">
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
