<tr class="rounds">
  <td><%= player_info.name %></td>
  <td><%= l player_info.date_of_birth, format: :long %></td>
  <td><%= player_info.gender %></td>
  <td><%= player_info.weight %></td>
  <td><%= player_info.height %></td>
  <td><%= player_info.position %></td>
</tr>
