<div class="sidebar" data-color="red" data-image="<%= image_path("admin/sidebar-5.jpg") %>">
  <div class="sidebar-wrapper">
    <div class="logo">
      <span class="simple-text"><%= t ".footbal_bet" %></span>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".dashboard" %></p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/users">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".users" %></p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/football_news">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".football_new" %></p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/countries">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".countries" %></p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/leagues">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".leagues" %></p>
        </a>
      </li>
    </ul>
  </div>
</div>
