<%= form_for @credit, url: url do |f| %>
  <%= render "shared/admin/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label t ".amount", class: "control-label" %>
    <%= f.number_field :amount, class: "form-control", min: Settings.number_min %>
  </div>
  <div class="form-group">
    <%= f.label t ".user", class: "control-label" %>
    <%= f.select(:user_id, Credit.load_users, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label t ".type", class: "control-label" %>
    <%= f.select(:credit_type, Credit.load_types, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group submit_button">
    <%= f.submit t(".submit"), class: "btn btn-primary" %>
  </div>
<% end %>
