<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "home", "data-turbolinks-track": "reload" %>
  <%= favicon_link_tag "home/favicon.png" %>
  <%= render "layouts/shim" %>
</head>
<body>
  <div>
    <div class="page">
      <%= render "shared/home/header" %>
      <div class="body home football_new">
        <div class="row auto">
          <% flash.each do |message_type, message| %>
            <% message_type = "success" if message_type == "notice" %>
            <% message_type = "danger" if message_type == "alert" %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render "shared/home/footer" %>
    </div>
  </div>
</body>
</html>
